Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
pixmaps/Makefile
pixmaps/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/ktsuss
stamp-h1
